.remove-task-dialog-enter {
  opacity: 0;
}
.remove-task-dialog-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.remove-task-dialog-exit {
  opacity: 1;
}
.remove-task-dialog-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
